<!DOCTYPE html>
<html>
<head>
  <title>Zeindica - Administrador</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<script>
	 <%= yield :javascript  %>
   $(document).ready(function(){
   	<%= yield :document_ready  %>
   });
</script>
<body>
<div class="menu_admin">
			<center>
				<%=link_to "Ze indica - Administrador", empresas_path%>
			| <%=link_to "Prêmios", premios_path%>
			| <%=link_to "Empresas", empresas_path%>
		</center>
</div>

<div class="content-admin">
	<%= yield %>
</div>	
</body>
</html>
